body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
  .container {
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
    font-size: 40px;

    header {
      font-size: 50px;
    }

    .place {
      border-radius: 10px;
      height: 30px;
      width: 300px;
      text-align: center;
    }
    .btn {
      margin-top : 20px ;
      background-color: #D2DAFF;
      border-radius: 6px;
      border-color: transparent;
      width: 100px;
      height: 40px;
    }
    .btn:hover {
      background-color: #B1B2FF;
    }
    .deadline {
      border-radius: 10px;
      height: 30px;
      width: 300px;
      text-align: center;
    }
    .todoList {
      flex:70%;
      width: 100%;

    }
  }
}